.add-education-container {
  text-align: center;
}

.add-education-btn {
  /* Apply styling for the Add New Edition button */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  display: none; /* Hide the button by default */
}

.education-container:hover .add-education-btn {
  display: block; /* Display the button only when hovering over the education container */
}
