.editable {
  text-align: center;
}

.add-btn,
.add-link-btn {
  text-align: right;
  /* Apply styling for the Add New Edition button */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  display: none; /* Hide the button by default */
}

.editable:hover .add-btn {
  text-align: right;
  display: block; /* Display the button only when hovering over the education container */
}
.editable:hover .add-link-btn {
  display: block; /* Display the button only when hovering over the education container */
}
