/* Resume.css */

/* Main resume container */
.main-resume-container {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Add overflow to enable scrolling if content exceeds max-height */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  left: 5px;
  top: 3px;
  width: 816px;
  height: 1056px;
  --shadow-clip-rect: -3px -5px -7px -5px;
}

/* Header Container */
.header-container {
  /* Apply styling for the header component here */
  /* For example: */
  width: 100%;
  height: auto;
}

/* Content Container (will contain Left and Right) */
.content-container {
  flex: 1; /* This will make the content container expand to fill the available space */
  display: flex; /* Use flex layout for Left and Right to appear side by side */
}

/* Left Container */
.left-container {
  /* Apply styling for the left component here */
  /* For example: */
  flex: 0.4;
  height: 100%;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

/* Right Container */
.right-container {
  /* Apply styling for the right component here */
  /* For example: */
  flex: 0.65;
  background-color: rgb(255, 255, 255);
}
