.comp {
  word-wrap: normal;
  word-break: break-all;
  width: 97%;
  font-size: 18px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  resize: none;
  border: none;
}

.job {
  word-wrap: normal;
  word-break: break-all;
  width: 97%;
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  overflow: hidden;
  resize: none;
  border: none;
}
.des {
  width: 97%;
  font-size: 14px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  overflow: hidden;
  resize: none;
  border: none;
}
div {
  margin-left: 2px;
}

/* Add New Edition button container */
.delete-education-container {
  text-align: center;
}

.delete-btn {
  /* Apply styling for the Add New Edition button */
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  display: none; /* Hide the button by default */
}

.edu-con:hover .delete-btn {
  display: block; /* Display the button only when hovering over the education container */
}
